$textColor: #fff;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

main {
  @include flexCenter(column);
  width: 100%;
  height: 100vh;
  color: $textColor;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #71bbec,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #71bbec,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.degree-container {
  @include flexCenter(row);
  font-size: 3rem;
}

.location {
  @include flexCenter(row);
  text-align: center;
  flex-wrap: wrap;
}
